:root{
    --azulOscuro: #072463;
    --azulMedio: #156dc0;
    --azulClaro: #BCD1E5;
    --verde: #6ecc03;
    --white: #fff;
    --gris: #777777;
    --gris2: #f0f0f0;
    --espacioLetras: 4px;
    --lineHeight: 1.8;
    --azultransparente: rgb(3, 22, 75, 0.9);
    --azultransparente2: rgb(3, 22, 75, 0.5);
    --azultransparente3: rgb(21, 109, 192, 0.6);        
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2';
    box-sizing: border-box;
    /*scroll firefox*/ 
    scrollbar-width: thin;
    scrollbar-color: var(--azulOscuro) var(--azulClaro);
}
body{
    background: var(--gris2);
}
body.scroll{
    overflow-y: hidden;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;       
    justify-content: space-between;
    align-items: center; 
    padding: 30px 8px;
    z-index: 10;
    transition: .5s;
}
header.HeaderScroll{
    padding: 20px 0;
    background: var(--azultransparente);
}
header .logo{
    color: var(--white);
    font-weight: bolder;
    font-family: 'Knewave';
    margin-left: 20px;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
}
header ul{
    margin-right: 20px;
}
header li{
    list-style: none;
    display: inline;
}
header nav a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    transition: .5s;
}
header .Btndrop::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0d7";
} 
header .dropdownCont{
    display: none;
    width: 200px;
    background: var(--white);
    position: absolute;
    top: 100px;
    text-align: end;
    right: 103px;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 0px 2px 25px -5px #222;
}
header .dropdownCont.HeaderScroll{
    right: 95px;
}
header .dropdownCont::before{
    content: '';
    position: absolute;
    width: 0;
    border: 7px solid; 
    top: -13px;
    right: 10px;
    border-color: transparent transparent var(--white) transparent;
}
header .dropdownCont.toggledrop{
    display: block;
}
header .dropdownCont a{
    display: block;
    color: var(--azulMedio);
    text-decoration: none;
    padding: 10px;        
}
header .BtnMenu, header .CloseMenu{
    display: none;
} 
.shape{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;      
}
 .shape, .frameworks{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1315%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(7%2c 36%2c 99%2c 1)'%3e%3c/rect%3e%3cpath d='M1398.04 159.67a10.8 10.8 0 1 0 1.24-21.56z' fill='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M62.92 399.1L108.56 399.1L108.56 444.74L62.92 444.74z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1412.61 513.2a19.38 19.38 0 1 0 5.07 38.42z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1371.91 52.31L1389.32 52.31L1389.32 69.72L1371.91 69.72z' fill='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M520.82 359.03a27.07 27.07 0 1 0 16.86 51.44z' stroke='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M697.31 230.36a44.74 44.74 0 1 0 20.75 87.04z' fill='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M931.94 434.85 a52.91 52.91 0 1 0 105.82 0 a52.91 52.91 0 1 0 -105.82 0z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1141.88 189.96L1153.63 189.96L1153.63 201.71L1141.88 201.71z' fill='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M597.18 465.27a21.45 21.45 0 1 0 39.92 15.72z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M642.57 398.17L650.83 398.17L650.83 406.43L642.57 406.43z' stroke='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M1182.99 554.38 a27.14 27.14 0 1 0 54.28 0 a27.14 27.14 0 1 0 -54.28 0z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M-17.13 555.9 a52.13 52.13 0 1 0 104.26 0 a52.13 52.13 0 1 0 -104.26 0z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1342.37 237a47.59 47.59 0 1 0-42.24-85.29z' stroke='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M151.18 16.89L198.03 16.89L198.03 63.74L151.18 63.74z' fill='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M870.68 124.35L921.87 124.35L921.87 175.54L870.68 175.54z' fill='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M1063.18 309.67 a48.52 48.52 0 1 0 97.04 0 a48.52 48.52 0 1 0 -97.04 0z' stroke='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M1040.81 497.28 a0.04 0.04 0 1 0 0.08 0 a0.04 0.04 0 1 0 -0.08 0z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M921.91 505.45a26.59 26.59 0 1 0-24.57-47.16z' fill='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M298.37 256.96a49.1 49.1 0 1 0 74.47-64z' fill='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M150.23 559.13L179.01 559.13L179.01 587.91L150.23 587.91z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M130.05 330.29a47.02 47.02 0 1 0 76.55 54.63z' stroke='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M1267.6 221.84L1283.73 221.84L1283.73 238.88L1267.6 238.88z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M291.49 346.99L336.54 346.99L336.54 389.41L291.49 389.41z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M553.43 489.1L608.72 489.1L608.72 491.26L553.43 491.26z' stroke='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3cpath d='M1246.55 199.3L1262.11 199.3L1262.11 253.67L1246.55 253.67z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1241.17 510.11L1291 510.11L1291 559.94L1241.17 559.94z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M521.35 531.38L529.11 531.38L529.11 539.14L521.35 539.14z' stroke='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M850.72 422.93a7.61 7.61 0 1 0 7.61-13.18z' fill='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M575.53 81.28L586.81 81.28L586.81 124.24L575.53 124.24z' stroke='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M208.29 537.77a13.62 13.62 0 1 0-22.69-15.07z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M712.48-5.18a44.88 44.88 0 1 0 57.25 69.12z' stroke='rgba(81%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M547.28 438.35 a0.15 0.15 0 1 0 0.3 0 a0.15 0.15 0 1 0 -0.3 0z' stroke='rgba(12%2c 109%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M607.34 112.97 a38.37 38.37 0 1 0 76.74 0 a38.37 38.37 0 1 0 -76.74 0z' stroke='rgba(21%2c 109%2c 192%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1315'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
.shape .texto{
    width: 45%;
    text-align: start;
} 
.shape .texto .shapeText{
    color: var(--white);
    line-height: var(--lineHeight);
    padding-top: 20px;
}
.shape .shapeImg{
    width: 45%;
    animation: imgmov 4s infinite linear;
}
@keyframes imgmov{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.texto .Maintittle{
    color: var(--white);
    font-size: 77px;
    letter-spacing: var(--espacioLetras);
    font-family: 'Knewave';
    text-transform: uppercase;
}
.Maintittle span{
    font-family: 'Knewave';
    color: var(--verde)
}
.title{
    text-align: center;
    padding: 90px 20px 20px 20px;
}
.title h2{
    font-size: 2.3rem;
    margin-bottom: 10px;
    color: var(--azulMedio);
    letter-spacing: var(--espacioLetras);
    font-family: 'Knewave';
}
.title p{
    color: var(--gris);
    line-height: var(--lineHeight);
    text-align: start;
}
.cards{
    display: grid;
    margin: auto;
    padding: 10px 20px 90px 20px;
    gap: 10px;
    place-items: center;
    grid-template-columns: auto auto auto;
}
.cards > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5px;
    width: 100%;
    min-height: 350px;
    background: var(--white);
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;
}  
.content p, .content h3{
    padding: 10px 20px;
    text-align: center;
}
.content i{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.cards div > .content{
    color: var(--gris);
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: .5s;
}
.frameworks{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;  
    padding: 50px 0;      
}
.frameworks > div{
    width: 25%;
    margin: 15px;
    text-align: center;
    color: var(--white);
}
.frameworks i{
    font-size: 53px;
}
.frameworks h2{
    font-size: 1.9rem;
    margin: 20px;
    font-family: 'Knewave';
    letter-spacing: var(--espacioLetras);
}
.frameworks p{
    line-height: var(--lineHeight);
}
.tabContent{
    overflow: hidden;
    padding: 90px 0 40px 0;
}
.tabContent h2{
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Knewave';
    letter-spacing: var(--espacioLetras);
    color: var(--azulMedio);
    margin-bottom: 30px;
}
.tab-content .tab-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.tab-container .tab-text, .tab-container .tab-img{
    width: 45%;
}
.tab-container .tab-img{
    text-align: center;
}
.tab-content .tab-container img{
    width: 90%;
}
.tabContent input{
    display: none;
}
.tabs {
    display: flex;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #e7e7e7;
}
.tabs i{
    font-size: 20px;
}
.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 20px 15px;
    border: 1px solid #e7e7e7;
    background: #f5f5f5;
    color: var(--gris);
    font-size: 0.788rem; 
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;	
    transition: all 0.3s;
}
.tab-content {
    display: none;
    color: var(--gris);
}

.tabContent [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabContent [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabContent [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabContent [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label{
    border-bottom-color: #fff;
    border-top-color: var(--azulMedio);
    background: var(--white);
    color: var(--azulMedio);
}
.tabContent [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabContent [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabContent [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabContent [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4){
    display: block;
    padding: 10px;
}
.tab-content h3{
    margin-bottom: 40px;
    letter-spacing: var(--espacioLetras);
    color: var(--azulMedio);
    font-family: 'Knewave';
    font-size: 1.5rem;
}
.tab-content p{
    line-height: var(--lineHeight);
}
.tab-content h3, .tab-content p, .tab-content img{
    animation: fadeInScale 1s ease-in-out;
}
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
        }

    100% {
        transform: scale(1);
        opacity: 1;
        }
    }

.slider{
    background: var(--white);
    padding: 90px 25px;
}
.swiper-tittle{
    color: var(--azulMedio);
    text-align: center;
    letter-spacing: var(--espacioLetras);
    margin-bottom: 40px;  
    font-size: 2.3rem; 
    font-family: 'Knewave';
}
.swiper-container {
    padding: 10px 0 100px 0;
}  
.swiper-slide {
    position: relative;
    display: flex;
    transition: .5s;
    border-radius: 20px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 8px;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
.swiper-slide img{
    width: 100%;
    border-radius: 20px;
}
.swiper-slide .ProjectsLink{
    position: absolute;
    bottom: -55px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background: var(--white);
    box-shadow:  0px 12px 30px -16px rgba(0,0,0,0.7);
    transition: .5s;
}
.ProjectsLink a{
    text-decoration: none;
    color: var(--azulMedio);
    font-weight: bold;
    transition: .5s;
}
.description h3{
    font-family: 'knewave';
    color: var(--azulMedio);
    letter-spacing: 2px;
}
.description p{
    display: inline-block;
    color: var(--gris);
    font-weight: bold;
}
.description i{
    font-size: 1rem;
    color: var(--gris);
}
.accordion{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 90px 0;
}  
.accordion .acc-container{
    width: 45%;    
    text-align: center;   
}
.accordion .ImgAcc{
    width: 40%;
    text-align: center;
}
.accordion .ImgAcc img{
    width: 100%;
}
.accordion .acc-container h2{
    font-size: 2.3rem;
    color: var(--azulMedio);
    letter-spacing: var(--espacioLetras);
    font-family: 'Knewave';
    margin-bottom: 35px;
}   
.accordion .Btnaccordion{
    position: relative;
    width: 80%;
    background: var(--white);
    padding: 15px;
    font-size: 0.938rem;
    outline: none;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    text-align: start;
    transition: .5s;
    border-radius: 5px;
    font-weight: bold;
    color: var(--gris);
}
.accordion .Btnaccordion::before{
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
    right: 10px;
    transition: transform .3s;
}
.accordion .Btnaccordion.active{
    color: var(--azulMedio);
    border-radius: 5px 5px 0 0;
    background: #C7DCF0;
}
.accordion .Btnaccordion.active::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
    transform: rotate(-180deg);
}
.accordion .acc-content{
    width: 80%;
    background: var(--white);
    max-height: 0;
    margin: auto;
    margin-top: -11px;
    margin-bottom: 10px;
    text-align: start;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.acc-content p{
    line-height: var(--lineHeight);
    color: var(--gris);
    padding: 10px 15px;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--white);
    padding: 90px 0;
}
.contact .formContact{
    width: 60%;
    text-align: center;
}
.contact .info h5{
    color: var(--azulMedio);
}
.contact .info p{
    color: var(--gris);
}
.contact .formContact h2{
    color: var(--azulMedio);
    font-size: 2.3rem;
    letter-spacing: var(--espacioLetras);
    margin-bottom: 30px;
    font-family: 'Knewave';
}
.contact input, .contact textarea, .contact .SendBtn{
    width: 80%;
    margin: 10px 0;
    padding: 15px 15px 15px 45px;
    outline: none;
    background: var(--gris2);
    border: none;
    border-radius: 2px;
}
.icon-input{
    position: relative;
    text-align: center;
}
.icon-input i{
    position: absolute;
    top: 26px;
    font-size: 16px;
    padding-left: 15px;   
    color: var(--azulMedio);   
}
.contact .SendBtn{
    position: relative;
    width: 30%;
    padding: 15px;
    font-size: 0.875rem;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    overflow: hidden;
    z-index: 1;
    color: var(--gris);
}
.contact .SendBtn::before{
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--azulMedio);
    transition: .5s;     
    z-index: -1;
}
.contact textarea{
    resize: vertical;
}
footer{
    background: var(--azulOscuro);
    padding: 10px 20px;
    text-align: center;
}
footer div, footer p{
    margin: 15px 0 15px 0;
    color: #fff;
}
footer a .fab{
    color: var(--white);
    margin: 0 5px 0 5px;
    transition: .5s;
}
::-webkit-scrollbar{
    width: 7px;
    background: var(--azulClaro);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--azulOscuro),var(--azulMedio));
}